#cv-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 20px;
}
.cv-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
}

.cv-section h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.cv-section .form {
    max-width: 700px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

.form input, .form textarea {
    font-family: 'Lexend', sans-serif;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form button {
    background-color: #00D591;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form button:hover {
    background-color: #00a571;
}

.form p {
    text-align: center;
    font-size: 0.9rem;
    color: #d32f2f;
}

.error-message {
    color: #d32f2f;
    font-weight: bold;
    margin-top: 10px;
}

.success-message {
    color: #388e3c;
    font-weight: bold;
    margin-top: 10px;
}
