.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form input, .form textarea {
    font-family: 'Lexend', sans-serif;
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form button:hover {
    background-color: #45a049;
}

.form p {
    text-align: center;
    font-size: 0.9rem;
    color: #d32f2f;
}

.error-message {
    color: #d32f2f;
    font-weight: bold;
    margin-top: 10px;
}

.success-message {
    color: #388e3c;
    font-weight: bold;
    margin-top: 10px;
}
